@import '../../styles/variables';

$prd-background: $ccla7;
$prd-background2: $cgris3;
$prd-color: $color;

.product-form{
  width: 100%;
  margin: 0 0.5em;
  border-radius: 1em;
  padding: 1em;
  background-color: $prd-background;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  .form-row, input, textarea{
    width: 100%;
  }

  .form-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;

    button {
      padding: 0.5em;
      border-radius: 0.4em;
    }
    button:hover{
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      font-weight: 700;
    }
  }
}