// background-color base es $cgris2

.flex-row {
  display: flex;
  width: 100%;

  .row-30 { width: 30%; }
  .row-40 { width: 40%; }
  .row-50 { width: 50%; }
  .row-60 { width: 60%; }
  .row-70 { width: 70%; }
}

.flex-colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.strong {
  font-weight: bold;
}
.strong-semi {
  font-weight:600;
}

.page-container {
  padding: 1em;
  width: 100%;
  background-color: $cgris3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    text-align: center;
  }

  .list-cards {
    padding: 1em;
    gap: 1.5em;
    width: 100%;
    border-radius: 2em;
    background-color: $ccla7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      padding: 1em;
      max-width: 300px;
      border: 1px solid $cgris2;
      border-radius: 1em;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      background-color: $ccla6;
      @extend .flex-colum;

      .card-title{
        text-align: center;
        padding-bottom: 0.7em;
        @extend .strong-semi;
      }

      .card-img {
        margin: 1em 0;
        width: 100%;
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
      }
      .card-body{
        width: 95%;
        padding: 0 auto;
        margin-bottom: 0.5em;
        @extend .flex-colum;
      }
    }
    .card:hover{
      box-shadow: 0 0 10px rgba(0,0,0,0.22);
    }
  }
}

.form-container-vert {
  margin: auto;
  padding: 0.8em;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  
  max-width: 500px;
  min-width: 300px;
  background-color: $ccla7;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid $cgris5;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: $cnegro;
    color: $cblanco;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: $color;
  }
  button:disabled {
    background-color: $cgris3;
  }
  button:disabled:hover {
    box-shadow: none;
    background-color: $cgris3;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
}